// 2. Include any default variable overrides here
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// @import "../node_modules/bootstrap/scss/variables-dark";

$body-color: #1c1d36;
$primary: #f89406;
$secondary: #133978;
$green: #1b8912;
$blue-400: #36a6e7;
$indigo: #7b61ff;

$custom-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "quartenary": $blue-400,
    "quinary": $indigo,
    "tertiary": $secondary,
    "greenish": $green,
);

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base/2;

// $font-size-base: 16px;

// $h1-font-size: $font-size-base * 6;
// $h2-font-size: $font-size-base * 5;
// $h3-font-size: $font-size-base * 4;
// $h4-font-size: $font-size-base * 3;

// $h6-font-size: $font-size-base;

$spacer: 8px;
$spacers: (
    0: 0,
    1: $spacer * 2,
    2: $spacer * 3,
    3: $spacer * 4,
    4: $spacer * 5,
    5: $spacer * 6,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

// 6. Optionally include any other parts as needed
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";

// // 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "../node_modules/bootstrap/scss/utilities/api";
