@import "functions";
@import "variables";
@import "variables-dark";
// 2. Include any default variable overrides here

$body-color: #1c1d36;
$primary: #f89406;
$blue: #133978;
$secondary: #133978;

// Create your own map
$custom-colors: (
    "tag-green": #1b8912,
    "tag-purple": #7b61ff,
    "tag-blue": #36a6e7,
    "twb-gray": #f4f4f3,
    "tag-gray": #1c1d3675,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "maps";
@import "mixins";
@import "utilities";

//Light mode

$custom-colors-text: (
    "custom-color": #1c1d36,
);
$custom-colors-bg-subtle: (
    "custom-color": #ffffff,
);

$theme-colors-text: map-merge($theme-colors-text, $custom-colors-text);
$theme-colors-bg-subtle: map-merge(
    $theme-colors-bg-subtle,
    $custom-colors-bg-subtle
);

//Dark mode

$custom-colors-text-dark: (
    "custom-color": #ffffff,
);
$custom-colors-bg-subtle-dark: (
    "custom-color": #1c1d35,
);

$theme-colors-text-dark: map-merge(
    $theme-colors-text-dark,
    $custom-colors-text-dark
);
$theme-colors-bg-subtle-dark: map-merge(
    $theme-colors-bg-subtle-dark,
    $custom-colors-bg-subtle-dark
);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/bootstrap";
