[submodule "libs/Slim"]
	path = libs/Slim
	url = https://github.com/codeguy/Slim.git
[submodule "libs/SlimExtras"]
	path = libs/SlimExtras
	url = https://github.com/codeguy/Slim-Extras.git
[submodule "libs/smarty"]
	path = libs/smarty
	url = git@github.com:spaceindaver/Smarty.git
