*.swp
*php~
*~
composer.phar
vendor
/nbproject/
/ui/templating/templates_compiled/
/ui/templating/cache/
/Common/includes/conf.ini
Common/includes/conf.ini
/Common/conf/conf.ini
Common/conf/conf.ini
backup/
ui/dart/deploy/web/conf/conf.json
.directory
.project
.metadata/
.buildpath
/.settings
.vagrant
node_modules
package.json
package-lock.json
ui/css/custom.css.map
.eslintrc.js
calendar
/db/practice.sql
/db/schema_1.sql
/db/schema-sourcing.sql
data.html

