*.swp
*php~
*~
composer.phar
vendor
/nbproject/
/ui/templating/templates_compiled/
/Common/includes/conf.ini
Common/includes/conf.ini
backup/
ui/dart/deploy/web/conf/conf.json
.directory
.project
.metadata/
.buildpath
/.settings
ui/composer.lock
api/composer.lock
