<!DOCTYPE html>

<html>
  <head>
    <title>ProjectCreateForm</title>
  </head>
 
  <body>   
    <element extends="div" name="x-project-create-form" constructor="ProjectCreateForm">
      <template>
        <table>
          <tbody>
            <tr template instantiate="if isError()">
              <td colspan="2">
                <div class="alert alert-error">
                  <h3>{{Localisation.getTranslationSafe("common_please_fill_in_all_required_fields")}}:</h3>
                  <ol>
                    <li template instantiate="if titleError != null">{{titleError}}</li>
                    <li template instantiate="if descriptionError != null">{{descriptionError}}</li>
                    <li template instantiate="if wordCountError != null">{{wordCountError}}</li>
                    <li template instantiate="if deadlineError != null">{{deadlineError}}</li>
                    <li template instantiate="if impactError != null">{{impactError}}</li>
                    <li template instantiate="if targetLanguageError != null">{{targetLanguageError}}</li>
                    <li template instantiate="if uniqueLanguageCountryError != null">
                      {{uniqueLanguageCountryError}}
                    </li>
                    <li template instantiate="if fileUploadError != null">
                      <strong>{{Localisation.getTranslationSafe("project_create_source_text")}}</strong>
                      - {{fileUploadError}}
                    </li>
                  </ol>
                </div>
              </td>
            </tr>
            <tr valign="middle">
              <td width="493" align="center" valign="middle">
                <label><h2>{{Localisation.getTranslationSafe("common_title")}}: <span style="color: red">*</span></h2></label>
                <p class="desc">{{Localisation.getTranslationSafe("project_create_1")}}.</p>
                <textarea wrap="soft" cols="1" rows="3" style="width: 400px" bind-value="project.title"></textarea>
                <p style="margin-bottom:40px;"></p>
 
                <label for="description">
                  <h2>{{Localisation.getTranslationSafe("common_description")}}: <span style="color: red">*</span></h2>
                </label>
                <p class="desc">{{Localisation.getTranslationSafe("project_create_2")}}.</p>
                <textarea wrap="soft" cols="1" rows="8" style="width: 400px" bind-value="project.description"></textarea>
                <p style="margin-bottom:37.5px;"></p>
 
                <label for="impact">
                  <h2>{{Localisation.getTranslationSafe("common_impact")}}: <span style="color: red">*</span></h2>
                </label>
                <p class="desc">
                  {{Localisation.getTranslationSafe("project_create_3")}}.<br/> {{Localisation.getTranslationSafe("project_create_4")}}.
                </p>
                <textarea wrap="soft" cols="1" rows="3" style="width: 400px" bind-value="project.impact"></textarea>
                <p style="margin-bottom:37.5px;"></p>
 
                <label for="reference"><h2>{{Localisation.getTranslationSafe("common_reference")}}:</h2></label>
                <p class="desc">{{Localisation.getTranslationSafe("project_create_5")}}.</p>
                <input type="text" style="width: 400px" bind-value="project.reference" />
              </td>
              <td width="493" align="center" valign="middle">
                <div style="margin-bottom:25px;">
                  <label>
                    <h2>{{Localisation.getTranslationSafe("project_create_source_text")}}: <span style="color: red">*</span></h2>
                  </label>
                  <p class="desc">
                    {{Localisation.getTranslationSafe("project_create_6")}}.
                    {{Localisation.getTranslationSafe("common_maximum_file_size_is")}}
                    <strong>{{maxFileSize}}MB</strong>.
                  </p>
                  <input type="file" id="projectFile" />
                </div>
                <div style="margin-bottom: 25px;">
                  <label for="word_count">
                    <h2>{{Localisation.getTranslationSafe("common_word_count")}}: <span style="color: red">*</span></h2>
                  </label>
                  <p class="desc">{{Localisation.getTranslationSafe("common_approximate_or_use_a_website_such_as")}}
                    <a href="http://wordcounttool.net/" target="_blank">Word Count Tool</a>.
                  </p>
                  <input type="text"  maxlength="6" bind-value="wordCountInput" style="width: 400px"/>
                </div>
                <div style="margin-bottom:25px;">
                  <label>
                    <h2>{{Localisation.getTranslationSafe("common_deadline")}}: <span style="color: red">*</span></h2>
                  </label>
                  <p class="desc">{{Localisation.getTranslationSafe("project_create_7")}}.</p>
                  <input class="hasDatePicker" type="text" id="deadline" name="deadline" 
                         style="width: 400px"/>
                </div>
                <div style="margin-bottom:25px;">
                  <label for="tags"><h2>{{Localisation.getTranslationSafe("common_tags")}}:</h2></label>
                  <p class="desc">
                    {{Localisation.getTranslationSafe("project_create_8")}}.
                    <br />
                    {{Localisation.getTranslationSafe("project_create_separated_by")}} <strong>spaces</strong>. 
                    {{Localisation.getTranslationSafe("project_create_for_multiword_tags_joinwithhyphens")}}.
                  </p>
                  <input bind-value="tagList" style="width: 400px" />
                </div>
                <div style="margin-bottom:25px;">
                  <label for="publishtasks">
                    <h2>{{Localisation.getTranslationSafe("project_create_publish_tasks")}}:</h2>
                  </label>
                  <p class="desc">
                    {{Localisation.getTranslationSafe("common_if_checked_tasks_will_appear_in_the_tasks_stream")}}.
                  </p>
                  <input type="checkbox" bind-checked="publish"/>
                </div>
                <div style="margin-bottom:25px;">
                  <label for="trackProject">
                    <h2>{{Localisation.getTranslationSafe("common_track_project")}}:</h2>
                  </label>
                  <p class="desc">{{Localisation.getTranslationSafe("project_create_12")}}</p>
                  <input type="checkbox" bind-checked="trackProject"/>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr/>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top">
                <div template instantiate="if !loaded">
                  <p>{{Localisation.getTranslationSafe("common_loading")}}</p>
                </div>
                <div id="sourceLanguageDiv"></div>
              </td>
              <td align="left" valign="top" template instantiate="if !loaded">
                <p>{{Localisation.getTranslationSafe("common_loading")}}</p>
              </td>
              <td align="center" valign="middle">
                <h2>{{Localisation.getTranslationSafe("common_task_type")}}: <span style="color: red">*</span></h2>
                <p class="desc">{{Localisation.getTranslationSafe("project_create_9")}}.</p>
              </td>
            </tr>
            <tr id="targetLanguageTitle">
              <td>
                <h2>{{Localisation.getTranslationSafe("project_create_target_languages")}}: <span style="color: red">*</span></h2>
                <br />
              </td>
              <td valign="center">
                <table border="0" width="100%">
                  <tr align="center">
                    <td width="33%"><strong>{{Localisation.getTranslationSafe("common_segmentation")}}</strong></td>
                    <td width="33%"><strong>{{Localisation.getTranslationSafe("common_translation")}}</strong></td>
                    <td width="33%"><strong>{{Localisation.getTranslationSafe("common_proofreading")}}</strong></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr id="horizontalLine_0">
              <td colspan="2"><hr/></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="alert alert-info" style="text-align: center" template instantiate="if maxTargetsReached != null">
                  {{maxTargetsReached}}.
                </div> 
                <button id="addMoreTargetsBtn" class="btn btn-success" type="button" on-click="addMoreTargetLanguages()">
                  <i class="icon-upload icon-white"></i> 
                  {{Localisation.getTranslationSafe("project_create_add_more_target_languages")}}
                </button>
                <button id="removeBottomTargetBtn" class="btn btn-inverse" type="button" on-click="removeTargetLanguage()">
                  <i class="icon-fire icon-white"></i> 
                  {{Localisation.getTranslationSafe("common_remove")}}
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr/>
              </td>
            </tr>
            <tr template instantiate="if createProjectError != null">
              <td colspan="2" class="alert alert-error">
                {{createProjectError}}
              </td>
            </tr>
            <tr align="center">
              <td>
                <p style="margin-bottom:20px;"></p>
                  <a href='{{orgDashboardLink}}' class='btn btn-danger'>
                    <i class="icon-ban-circle icon-white"></i>
                    {{Localisation.getTranslationSafe("common_cancel")}}
                  </a>
                <p style="margin-bottom:20px;"></p>
              </td>
              <td>
                <p style="margin-bottom:20px;"></p>
                <button class="btn btn-success" on-click="submitForm()">
                  <i class="icon-upload icon-white"></i> {{Localisation.getTranslationSafe("common_create_project")}}
                </button>
                <p style="margin-bottom:20px;"></p>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
      <script type="application/dart" src="ProjectCreateForm.dart"></script>
    </element>
  </body>
</html>
