<!DOCTYPE html>

<html>
  <head>
    <title>ClaimedTasksStream</title>
  </head>
 
  <body>   
    <element extends="div" name="x-claimed-tasks-stream" constructor="ClaimedTasksStream">
      <template>
        <template instantiate="if tasks.length > 0">
          <template iterate="task in tasks">
            <div class="task" style="word-break: break-all; overflow-wrap: break-word;">
              <h2>
                <a href="{{siteAddress}}task/{{task.id}}/id">
                  {{task.title}}
                </a>
              </h2>
              <p>{{Localisation.getTranslationSafe("common_type")}}:
                <template instantiate="if task.taskType == 1">
                  <span class="label label-info" style="background-color: {{taskOneColour}}">
                    {{Localisation.getTranslationSafe("common_segmentation")}}
                  </span>
                </template>
                <template instantiate="if task.taskType == 2">
                  <span class="label label-info" style="background-color: {{taskTwoColour}}">
                    {{Localisation.getTranslationSafe("common_translation")}}
                  </span>
                </template>
                <template instantiate="if task.taskType == 3">
                  <span class="label label-info" style="background-color: {{taskThreeColour}}">
                    {{Localisation.getTranslationSafe("common_proofreading")}}
                  </span>
                </template>
                <template instantiate="if task.taskType == 4">
                  <span class="label label-info" style="background-color: {{taskFourColour}}">
                    {{Localisation.getTranslationSafe("common_desegmentation")}}
                  </span>              
                </template>
              </p>
              <p>
                {{Localisation.getTranslationSafe("common_from")}}: 
                <strong>{{task.sourceLocale.languageName}} - {{task.sourceLocale.countryName}} </strong>
              </p>
              <p>
                {{Localisation.getTranslationSafe("common_to")}}: 
                <strong>{{task.targetLocale.languageName}} - {{task.targetLocale.countryName}}</strong>
              </p>
              <p>
                <template instantiate="if taskTags[task.id].length > 0">
                  <template iterate="tag in taskTags[task.id]">
                    <a href="{{siteAddress}}tag/{{tag.id}}" class="label"><span class="label">{{tag.label}}</span></a>
                  </template>
                </template>
              </p>
              <p>
                {{Localisation.getTranslationSafe("common_word_count")}}: <strong>{{task.wordCount}}</strong>
              </p>
              <p class="task_details">
                {{Localisation.getTranslationSafe("common_added")}}: <strong>{{taskAges[task.id]}}</strong> 
                {{Localisation.getTranslationSafe("common_ago")}}
              </p>
              <p>
                {{Localisation.getTranslationSafe("common_due_by")}}: <strong>{{task.deadline}}</strong>
              </p>
              <template instantiate="if projectMap[task.projectId] != null">
                <template instantiate="if orgMap[projectMap[task.projectId].organisationId] != null">
                  <p>
                    {{Localisation.getTranslationSafe("common_part_of")}}:
                    <a href="{{siteAddress}}project/{{projectMap[task.projectId].id}}/view">
                      {{projectMap[task.projectId].title}}
                    </a>
                    {{Localisation.getTranslationSafe("common_for")}}
                    <a href="{{siteAddress}}org/{{orgMap[projectMap[task.projectId].organisationId].id}}/profile">
                      {{orgMap[projectMap[task.projectId].organisationId].name}}
                    </a>
                  </p>
                </template>
              </template>
              <p>
                <a href="{{siteAddress}}user/task/{{task.id}}/reviews" class="btn btn-small btn-primary">
                  {{Localisation.getTranslationSafe("claimed_tasks_task_reviews")}}
                </a>
              </p>
              <br />
            </div>
          </template>
        </template>
        <template instantiate="if !(tasks.length > 0)">
          <p>{{Localisation.getTranslationSafe("index_no_tasks_available")}}</p>
        </template>
        <div class="pagination pagination-centered">
          <ul>
            <li>
              <a id="firstPage" title="First">&lt;&lt;</a>
            </li>
            <li>
              <a id="previousPage" title="Previous">&lt;</a>
            </li>
            <li>
              <a>
                {{Localisation.getTranslation("pagination_page")}} {{currentPage + 1}} 
                {{Localisation.getTranslation("pagination_of")}} {{lastPage}}
              </a>
            </li>
            <li>
              <a id="nextPage" title="Next">&gt;</a>
            </li>
            <li>
              <a id="lastPage" title="Last">&gt;&gt;</a>
            </li>
          </ul>
        </div>
      </template>
      <script type="application/dart" src="ClaimedTasksStream.dart"></script>
    </element>
  </body>
</html>
