<!DOCTYPE html>

<html>
  <head>
    <title>UserPrivateProfileForm</title>
  </head>
 
  <body>   
    <element extends="div" name="x-user-private-profile-form" constructor="UserPrivateProfileForm">
      <template>
        <template instantiate="if user != null && userInfo != null">
        <table>
          <tr valign="top" align="center">
            <td width="50%">
              <label for='displayName'>
                <strong>
                  {{Localisation.getTranslation("common_display_name")}}: <span style="color: red">*</span>
                </strong>
              </label>
              <template instantiate="if alert != ''">
                <span class="alert alert-error">{{alert}}</span>
              </template>
              <input type='text' style="width: 80%" bind-value="user.display_name" />

              <template instantiate="if !isLoaded">
                <p><i>{{Localisation.getTranslation("common_loading")}}</i></p> 
              </template>
              
              <div id="language_area"></div>
 
              <label for='biography'><strong>{{Localisation.getTranslation("common_biography")}}:</strong></label>
              <textarea bind-value="user.biography" cols='40' rows='7' style="width: 80%">
              </textarea>

            </td>
            <td width="50%">
              <label for='firstName'><strong>{{Localisation.getTranslation("common_first_name")}}:</strong></label>
              <input type='text' bind-value="userInfo.firstName" style="width: 80%" />

              <label for='lastName'><strong>{{Localisation.getTranslation("common_last_name")}}:</strong></label>
              <input type='text' bind-value="userInfo.lastName" style="width: 80%" />
 
              <label for='mobileNumber'><strong>{{Localisation.getTranslation("common_mobile_number")}}:</strong></label>
              <input type='text' bind-value="userInfo.mobileNumber" style="width: 80%" />

              <label for='businessNumber'><strong>{{Localisation.getTranslation("common_business_number")}}:</strong></label>
              <input type='text' bind-value="userInfo.businessNumber" style="width: 80%" />

              <label for='sip'><strong>{{Localisation.getTranslation("common_sip")}}:</strong></label>
              <input type='text' bind-value="userInfo.sip" style="width: 80%" />

              <label for='jobTitle'><strong>{{Localisation.getTranslation("common_job_title")}}:</strong></label>
              <input type='text' bind-value="userInfo.jobTitle" style="width: 80%" />

              <label for='address'><strong>{{Localisation.getTranslation("common_address")}}:</strong></label>
              <textarea bind-value="userInfo.address" cols='40' rows='5' style="width: 80%">
              </textarea>

              <label for='city'><strong>{{Localisation.getTranslation("common_city")}}:</strong></label>
              <input type='text' bind-value="userInfo.city" style="width: 80%" />

              <label for='country'><strong>{{Localisation.getTranslation("common_country")}}:</strong></label>
              <input type='text' bind-value="userInfo.country" style="width: 80%" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <hr/>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <table>
                <tr>
                  <td colspan="3" align="center" style="font-weight: bold">
                    {{Localisation.getTranslation("user_private_profile_task_type_preferences")}}:
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    {{Localisation.getTranslation("user_private_profile_translating")}}
                  </td>
                  <td>
                    {{Localisation.getTranslation("user_private_profile_proofreading")}}
                  </td>
                  <td>
                    {{Localisation.getTranslation("user_private_profile_interpreting")}}
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <input bind-checked="translator" type="checkbox" />
                  </td>
                  <td>
                    <input bind-checked="proofreader" type="checkbox" />
                  </td>
                  <td>
                    <input bind-checked="interpreter" type="checkbox" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-bottom: 20px">
              <hr/>
              <template instantiate="if alert!= ''">
                <p class="alert alert-error">{{Localisation.getTranslation("common_missing_data")}}</p>
              </template>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button type='submit' class='btn btn-primary' on-click="submitForm()">
                <i class="icon-refresh icon-white"></i> {{Localisation.getTranslation("user_private_profile_update_profile_details")}}
              </button>
              <button type="submit" class="btn btn-inverse" on-click="deleteUser()">
                <i class="icon-fire icon-white"></i> {{Localisation.getTranslation("user_private_profile_delete_user_account")}}
              </button>
            </td>
          </tr>
        </table>
        </template>
      </template>
      <script type="application/dart" src="UserPrivateProfileForm.dart"></script>
    </element>
  </body>
</html>
