body {
	padding-top: 40px;
}
section {
	margin-bottom: 60px;
}
#tasks h2:not(:first-child) {
    margin-top: 2em;
}
.label-close {
    color: white;
    margin-left: -8px;
}
.label-close:hover {
    background-color: red;
}
.tag {
    padding-top: 5px;
    padding-bottom: 5px;
}
.graph-view {
    width : auto;
    height :500px;
    overflow : auto;
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
    font-size: 11px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.donate-button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	width: 220px;
	text-align: center;
	padding: 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ECB73C;
	-webkit-box-shadow: #B3B3B3 2px 2px 2px;
	-moz-box-shadow: #B3B3B3 2px 2px 2px;
	box-shadow: #B3B3B3 2px 2px 2px;
}

#donate-trf-logo {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:auto;
	margin-right:auto;
}

#donate{
	color:#000000;
}

#donate:hover {
	color:#4B031A;
}

#footer-menu
{
	text-align:center;
	margin-top:10px;
}

a.faq-anchor
{
   display: block;
   position: relative;
   top: -50px;
   visibility: hidden;
}

hr.dotted {
  	border: 0;
    border-top: 1px dotted gray; padding-top: .7em; margin-bottom: .7em; 
}

.back-to-top {
	position:relative;
	top:-5px;
	float: right;
	
}
/* styles used in custom Google Plus Sign in button */
#customGplusBtn {
    display: inline-block;
    background: #dd4b39;
    color: white;
    width: 219px;
    border-radius: 5px;
    white-space: nowrap;
    margin-bottom: 10px;
}

#customGplusBtn:hover {
    background: #e74b37;
    cursor: pointer;
}

#customGplusBtnIcon {
    background: url('../../ui/img/gplus_btn_red_32.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-right: #bb3f30 1px solid;
}

#customGplusBtnText {
    display: inline-block;
    vertical-align: middle;
    padding-left:50px;
    padding-right: 35px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto',arial,sans-serif;
}
/* end of styles used in custom Google Plus Sign in button */
#also-viewed-tasks .task {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(221, 221, 217, 0.59);
  border: solid 1px rgb(202, 202, 202);
  padding: 7px;
  margin: 10px;
}

#also-viewed-tasks h2 {
  font-size: 18px;
  line-height: 24px;
}

#also-viewed-tasks p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 11px;
}