body {
	padding-top: 40px;
}
section {
	margin-bottom: 60px;
}
iframe {
    display: block;
    width: 800px;
    height: 900px;
    margin: 0 auto;
    border: 0;
}
.label-close {
    color: white;
    margin-left: -8px;
}
.label-close:hover {
    background-color: red;
}
.tag {
    padding-top: 5px;
    padding-bottom: 5px;
}
