body {
	padding-top: 40px;
}
section {
	margin-bottom: 60px;
}
#tasks h2:not(:first-child) {
    margin-top: 2em;
}
.label-close {
    color: white;
    margin-left: -8px;
}
.label-close:hover {
    background-color: red;
}
.tag {
    padding-top: 5px;
    padding-bottom: 5px;
}
.graph-view {
    width : auto;
    height :500px;
    overflow : auto;
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
    font-size: 11px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.donate-button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	width: 220px;
	text-align: center;
	padding: 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ECB73C;
	-webkit-box-shadow: #B3B3B3 2px 2px 2px;
	-moz-box-shadow: #B3B3B3 2px 2px 2px;
	box-shadow: #B3B3B3 2px 2px 2px;
}

#donate-trf-logo {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:auto;
	margin-right:auto;
}

.donate-button a {
	color:#000000;
}

.donate-button a:hover {
	color:#4B031A;
}

#footer-menu
{
	text-align:center;
	margin-top:10px;
}

a.faq-anchor
{
   display: block;
   position: relative;
   top: -50px;
   visibility: hidden;
}
