/* Error: Undefined variable.
 *    ,
 * 18 | $theme-colors: map-merge($theme-colors, $custom-colors);
 *    |                          ^^^^^^^^^^^^^
 *    '
 *   scss/custom.scss 18:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 18 \2502  $theme-colors: map-merge($theme-colors, $custom-colors);\a    \2502                           ^^^^^^^^^^^^^\a    \2575 \a   scss/custom.scss 18:26  root stylesheet";
}
