/* Error: $color: f89406 is not a color.
 *     ,
 * 289 |     border: 2px solid rgba(f89406, 0.3);
 *     |                       ^^^^^^^^^^^^^^^^^
 *     '
 *   scss/custom.scss 289:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: f89406 is not a color.\a     \2577 \a 289 \2502      border: 2px solid rgba(f89406, 0.3);\a     \2502                        ^^^^^^^^^^^^^^^^^\a     \2575 \a   scss/custom.scss 289:23  root stylesheet";
}
