/* Error: Expected "important".
 *     ,
 * 309 |     color: inherit !im portant;
 *     |                     ^
 *     '
 *   scss/custom.scss 309:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected "important".\a     \2577 \a 309 \2502      color: inherit !im portant;\a     \2502                      ^\a     \2575 \a   scss/custom.scss 309:21  root stylesheet';
}
