php_flag display_errors on

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatcher.php [QSA,L]

# Disable listing of directory contents
IndexIgnore *

#AllowOverride All

#Order Deny,Allow
#Deny from all
#Allow